h1 {
  color: Orange;
  text-align: center;	
}

h2 {
  color: black;
  text-align: center;	
}
h3 {
  color: red;
  text-align: center;
  font-size:20px;	
}

p {
  background-color: none;
  color: black;
  font-size: 16px;
  text-align: left;
}


footer { 
  display: block;
  color: gray;
  text-align: center;
  bottom: 0;
}

body{
background-color: none;
}

table, th, td {

  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
td{
  color: black;
  font-size: 20px;
}
th{
  color: black;
  font-size: 25px;
  text-decoration: underline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



ul {
  list-style-type: none;
  padding: 5px 0;
  background-color: red;
  text-align:center;
}
li {
display: inline;
}
li a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}
li a:hover {
  background-color: orange;
  color: white;
}

ul.basic {
  list-style-type: none;
  background-color: none;
}

